.button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.2rem 2.2rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  display: inline-block;
  transition: color, background-color 0.2s;

  &--primary {
    background-color: $color-primary;
    color: $color-secondary;
    border: 0.1rem solid $color-primary;

    &:hover {
      background-color: darken($color-primary, 15%);
      border: 0.1rem solid darken($color-primary, 15%);
    }
  }

  &--outline {
    background-color: transparent;
    color: $color-primary;
    border: 0.1rem solid $color-primary;

    &:hover {
      color: $color-secondary;
      background-color: $color-primary;
    }
  }

  &--dark {
    color: $color-secondary;
    background-color: $color-tertiary;
    border: 0.1rem solid $color-tertiary;

    &:hover {
      background-color: lighten($color-tertiary, 20%);
      border: 0.1rem solid lighten($color-tertiary, 20%);
    }
  }

  &--dark-outline {
    background-color: transparent;
    color: $color-tertiary;
    border: 1px solid $color-tertiary;

    &:hover {
      background-color: $color-tertiary;
      color: $color-secondary;
    }
  }
}
