.section {
  background-color: $color-secondary;

  &--dark {
    background-color: $color-secondary-dark;
    border-top: 2px solid darken($color-secondary-dark, 2%);
    border-bottom: 2px solid darken($color-secondary-dark, 2%);
  }
}
