html {
  font-size: px-to-percent(10px);
  box-sizing: border-box;

  @include respond('small') {
    font-size: px-to-percent(9px);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
