html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: $color-text-dark;
}
