.footer {
  padding: 10rem 0;
  border-top: 2px solid $color-secondary-dark;

  @include respond('small') {
    padding: 4rem 0;
  }

  &__info-column {
    flex-basis: 34rem;

    @include respond('small') {
      flex-basis: auto;
      margin-bottom: 3rem;
    }
  }

  &__menu-title {
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    margin-bottom: 1rem;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    font-size: 1.4rem;
  }
}
