.row {
  display: flex;

  @include respond('small') {
    flex-direction: column;
  }

  &--align-center {
    align-items: center;
  }

  .col {
    flex-shrink: 0;
  }
  
  .col-2 {
    flex-basis: calc(100% / 12 * 2);
  }

  .col-3 {
    flex-basis: calc(100% / 12 * 3);
  }

  .col-4 {
    flex-basis: calc(100% / 12 * 4);
  }

  .col-8 {
    flex-basis: calc(100% / 12 * 8);
  }
}
